@page "/"

<PageTitle>Index</PageTitle>

<app-split-layout>
    <app-container slot="side">
        <h1>Blazor x Lit</h1>
    </app-container>
    <app-json-display slot="content" obj="@_state.Serialize()"></app-json-display>
</app-split-layout>

@code {
    private AppState _state = new();
}
