@page "/"

<PageTitle>Index</PageTitle>

<app-split-layout>
    <app-container slot="side">
        <h1>Blazor x Lit</h1>
    </app-container>
    <app-json-display slot="content" state="@_state.Serialize()" @onserverstate="_OnAppState"></app-json-display>
</app-split-layout>

@code {
    private AppState _state = new() { AppName = "Blazor x Lit" };

    private void _OnAppState(AppStateEventArgs appStateEvent)
    {
        Console.WriteLine("here");
        Console.WriteLine(appStateEvent?.State?.AppName);
        if (appStateEvent?.State is null) return;
        _state.AppName = "bdfuiodhf";
    }
}
